.about-us-block {
    margin-top: 160px;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 30px;
}

.office-image {
    width: 60%;
    border-radius: 24px;
    object-fit: cover;
}

.text-part {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

.text-part h2{
    color: #010020;
    font-size: 64px;
    font-family: Inter, serif;
    font-weight: 600;
    margin: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px;
    background: #CE1212;
    border-radius: 24px;
}

.text-block p {
    color: #FFFFFF;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    margin-bottom: 105px;
}

.text-block hr {
    border-color: #FFFFFF;
    width: 60%;
    align-self: flex-end;
}

@media (max-width: 1430px) {
    .text-part h2 {
        font-size: 48px;
    }
    .about-us-block {
        margin-top: 140px;
    }
}

@media (max-width: 1130px) {
    .text-block p {
        margin-bottom: 24px;

    }
    .text-block hr {
        width: 100%;
    }
    .text-part {
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .about-us-block {
        margin-top: 60px;
        display: block;
        height: auto;
    }
    .office-image {
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
        margin-top: 36px;
    }
    .text-part {
        width: 100%;
    }
    .text-block {
        box-sizing: border-box;
    }
    .ReviewsSwiper {
        margin-top: 36px;
    }
    .slider-buttons {
        margin-top: 20px;
    }
}

@media (max-width: 850px) {
    .text-block {
        padding: 24px;
    }
    .text-block p {
        font-size: 14px;
        font-weight: 400;
    }
    .office-image {
        height: 260px;
    }
}

