.about-us-block {
    margin-top: 160px;
    width: 100%;
}

.bikes-image {
    width: 100%;
    height: 600px;
    border-radius: 24px;
    object-fit: cover;
}

.text-part h2{
    color: #010020;
    font-size: 64px;
    font-family: Inter, serif;
    font-weight: 600;
    margin: 0;
}

.text-block p {
    color: #010020;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    padding: 0 8vw;
    margin: 20px 0;
    text-align: center;
}

.about-us-block .heading {
    text-align: center;
}

.text-block hr {
    border-color: #FFFFFF;
    width: 60%;
    align-self: flex-end;
}

@media (max-width: 1430px) {
    .text-part h2 {
        font-size: 48px;
    }
    .about-us-block {
        margin-top: 140px;
    }
}

@media (max-width: 1130px) {
    .text-block p {
        margin-bottom: 24px;

    }
    .text-block hr {
        width: 100%;
    }
    .text-part {
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .about-us-block {
        margin-top: 60px;
        display: block;
        height: auto;
    }
    .office-image {
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
        margin-top: 36px;
    }
    .text-part {
        width: 100%;
    }
    .text-block {
        box-sizing: border-box;
    }
    .ReviewsSwiper {
        margin-top: 36px;
    }
    .slider-buttons {
        margin-top: 20px;
    }
    .bikes-image {
        width: 100%;
        height: 400px;
        border-radius: unset;
        object-fit: cover;
    }
}

@media (max-width: 850px) {
    .text-block p {
        font-size: 14px;
        text-align: left;
        font-weight: 400;
        padding: 0;
        margin: 20px 0;
    }
    .bikes-image {
        height: 320px;
    }
}

