p {
  margin: 0;
}

body {
  padding-right: 0 !important;
}

.container {
  display: flex;
  width: 86%;
  margin: 0 auto;
}

.heading {
  width: 100%;
  color: #010020;
  font-size: 80px;
  font-family: Inter, serif;
  font-weight: 500;
  margin: 0;
}

.heading0 {
  color: #CE1212;
  font-size: 18px;
  font-family: Inter, serif;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.dark-button {
  background-color: #010015;
  color: #FFFFFF;
  border: 1px solid #010020;
  cursor: pointer;
}

.dark-button:hover {
  background-color: #1b1b26;
}

.white-button {
  background-color: #FFFFFF;
  color: #010020;
  border: 1px solid #010020;
  cursor: pointer;
}

.white-button:hover {
  background-color: #F6F6F6FF;
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1430px) {
  .heading {
    font-size: 62px;
  }
}

@media (max-width: 1230px) {
  .heading {
    font-size: 52px;
  }
}

@media (max-width: 1130px) {
  .heading {
    font-size: 48px;
  }
}

@media (max-width: 850px) {
  .heading {
    text-align: left;
    font-size: 32px;
  }
}


