.contacts-block {
    margin-top: 80px;
    padding: 80px 0;
    background-color: #010020;
}

.contacts-block .heading {
    color: #FFFFFF;
}

.all-contacts {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #FFFFFF;
    margin-top: 48px;
}

.contact-label {
    margin-bottom: 16px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 400;
}

.contact {
    font-size: 24px;
    font-family: Inter, serif;
    font-weight: 500;
}

.work-hours:not(:last-child) {
    margin-bottom: 5px;
}

.map {
    margin-top: 24px;
}

.google-map {
    height: 550px;
    border-radius: 24px;
    border: none;
}

@media (max-width: 1024px) {
    .contacts-block {
        margin-top: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contact {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    .contacts-block {
        margin-top: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contact {
        font-size: 20px;
    }
    .google-map {
        height: 260px;
        border-radius: 16px;
    }
    .all-contacts {
        flex-direction: column;
        gap: 20px;
    }
    .contact-label, .contact {
        font-size: 14px;
    }
    .contact-label {
        margin-bottom: 8px;
    }
}