.reviews-block {
    margin-top: 160px;
    overflow: hidden;
}

.ReviewsSwiper {
    margin-top: 48px;
    width: 120vw;
    left: -11vw;
}

.next-review, .prev-review {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.review {
    background: #FDE4E4;
    border-radius: 24px;
    transition: all .5s ease;
    height: 100%;
}

.review-inner {
    display: flex;
    padding: 48px 48px 16px 48px;
}

.swiper-slide {
    height: auto;
}

.swiper-slide-active .review{
    background: #CE1212;
}

.swiper-slide-next .review, .swiper-slide-prev .review {
    background: #FDE4E4;
    color: #010020;
}

.swiper-slide-next .customer-name p, .swiper-slide-prev .customer-name p {
    color: #010020;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
}

.customer-name {
    padding: 18px 0;
}

.customer-name p{
    color: #FFFFFF;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    text-align: left;
}

.slider-buttons {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-top: 48px;
}

.review-text {
    padding: 0 48px 48px 148px;
    text-align: left;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 1430px) {
    .reviews-block {
        margin-top: 140px;
    }
}

@media (max-width: 1130px) {
    .review-text {
        padding: 0 48px 48px 48px;
    }
    .review-inner {
        padding: 48px 48px 15px 48px;
    }
}

@media (max-width: 850px) {
    .review-text {
        margin-top: 0;
        font-size: 14px;
    }
    .ReviewsSwiper {
        width: 180vw;
        left: -40vw;
    }
    .review-inner {
        align-items: center;
    }
    .review img {
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }
    .customer-name p {
        font-size: 16px;
    }
    .slider-buttons {
        gap: 64px;
        margin-top: 16px;
    }
}

@media (max-width: 1024px) {
    .reviews-block {
        margin-top: 60px;
    }
    .review-text {
        padding: 0 16px 24px 16px;
    }
    .review-inner {
        padding: 24px 16px 16px 16px;
    }
}

@media (max-width: 550px) {
    .ReviewsSwiper {
        width: 200vw;
        left: -50vw;
    }
}


