.faq {
    margin-top: 140px;
    width: 100%;
}

.faq .heading {
    margin-bottom: 48px;
}

.question-block {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #010020;
    align-items: center;
}

.question-block-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-block:not(:last-child) {
    margin-bottom: 24px;
}

.question {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-right: 48px;
    font-family: Inter, serif;
}

.question h4 {
    font-size: 24px;
    font-weight: 500;
    color: #CE1212;
}

.question-text {
    color: #010020;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter, serif;
}

.answer-text {
    color: #010020;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 80px;
    font-family: Inter, serif;
}

.expand-answer {
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 0;
}

.expand-answer img {
    width: 24px;
    height: 24px;
}

.more-questions {
    min-width: 168px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 16px 16px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    border-radius: 24px;
}

@media (max-width: 1430px) {
    .faq {
        margin-top: 100px;
    }
}

@media (max-width: 1024px) {
    .faq {
        margin-top: 60px;
    }
    .question-block:not(:last-child) {
        margin-bottom: 16px;
    }
    .question-block {
        padding-bottom: 16px;
    }
    .question {
        gap: 20px;
    }
    .expand-answer {
        border: none;
    }
    .expand-answer:hover {
        background-color: transparent;
    }
    .question-block-inner .white-button {
        border: none;
    }
    .question-block-inner .white-button:hover {
        background-color: #FFFFFF;
    }
}

@media (max-width: 1024px) {
    .faq .heading {
        margin-bottom: 16px;
    }
    .question h4, .question-text {
        font-size: 16px;
        margin: 0;
    }
    .expand-answer {
        width: 24px;
        height: 24px;
        min-width: unset;
        border-radius: 0;
    }
    .more-questions {
        border-radius: 16px;
        font-size: 14px;
    }
    .answer-text {
        margin-left: 40px;
    }
}

@media (max-width: 850px) {
    .answer-text, .question-text {
        font-size: 14px;
    }
}