@keyframes scale-up {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.scale {
    animation: scale-up 3s ease-in-out;
    transform-origin: center center;
}

.heading span {
    color: #CE1212;
}

.intro-block {
    width: 100%;
    margin-top: 48px;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.intro-info {
    color: #010020;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    position: relative;
    margin-top: 24px;
    margin-bottom: 135px;
}

.bike-intro {
    width: 41%;
    padding: 48px;
    background-color: #FDE4E4;
    border-radius: 24px
}

.bike {
    position: absolute;
    top: 0;
    left: 45%;
}

.about-bike {
    padding: 16px;
    background-color: #CE1212;
    width: 200px;
    border-radius: 24px;
    font-family: Inter, serif;
    color: #FFFFFF;
}

.cards {
    position: absolute;
    right: 0;
    top: 0;
}

.first-card {
    margin-bottom: 16px;
}

.card-number {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0 0 0;
}

.intro-buttons {
    display: flex;
    justify-content: space-between;
}

.intro-buttons button {
    width: 45%;
    height: 60px;
    border-radius: 24px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    border: 1px solid #010020;
    cursor: pointer;
}

.intro-buttons .login-button {
    background: transparent;
}

.intro-buttons .login-button:hover {
    background: rgb(255, 255, 255, 30%);
}

@media (max-width: 1500px) {
    .actions-block {
        width: 140px;
    }
    .navigation {
        width: 65%;
    }
    .bike-intro {
        width: 35%;
    }
    .bike {
        left: 38%;
    }

}

@media (max-width: 1430px) {
    .under-text {
        line-height: 0.5;
    }
    .intro-buttons button {
        width: 48%;
    }
}

@media (max-width: 1230px) {
    .bike {
        width: 550px;
        top: 30px;
        left: 40%;
    }
    .about-bike {
        width: 195px;
    }
    .card-number {
        font-size: 32px;
    }
    .intro-info {
        margin-bottom: 60px;
    }
    .intro-buttons {
        flex-direction: column;
        gap: 16px;
    }
    .intro-buttons button {
        width: 100%;
    }
    .bike-intro {
        width: 36%;
    }
}

@media (max-width: 1024px) {
    .bike {
        width: 450px;
        top: 80px;
        left: 37%;
    }
    .bike-intro {
        padding: 20px;
    }
    .intro-info {
        margin: 30px 0;
    }
}

@media (max-width: 850px) {
    .headings-intro {
        display: flex;
        justify-content: space-between;
    }
    .intro-content {
        display: block;
    }
    .intro-block {
        margin-top: 20px;
    }
    .bike, .cards {
        position: inherit;
    }
    .bike {
        width: 55vw;
        margin: 0 15vw;
    }
    .cards {
        width: 100%;
    }
    .about-bike {
        width: 100%;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 8px 16px;
    }
    .card-text {
        font-size: 14px;
    }
    .intro-buttons {
        margin-top: 20px;
    }
    .intro-buttons button {
        font-size: 14px;
        border-radius: 16px;
    }
    .bike-intro {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .intro-info {
        margin: 10px 0 30px 0;
        font-size: 14px;
    }
    .intro-buttons button {
        height: 48px;
    }
}

@media (max-width: 550px) {
    .intro-buttons {
        flex-direction: column;
        gap: 16px;
    }
    .bike {
        width: 100vw;
        margin: 0 -9vw;
    }
    .headings-intro {
        width: fit-content;
        flex-direction: column;
        gap: 8px;
        margin: 0 auto;
    }
    .headings-intro .heading {
        font-size: 40px ;
    }
}