.overview-block {
    margin-top: 240px;
    width: 100%;
}

.overview-block .heading{
    text-align: center;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: all 2s ease;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.mySwiper {
    position: relative;
    margin-top: 50px;
}

.next-photo, .prev-photo {
    position: absolute;
    top: 47%;
    z-index: 2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.next-photo {
    right: 0;
}

.swiper-slide-next img, .swiper-slide-prev img {
    border: 2px solid #CE1212;
    border-radius: 24px;
}

.all-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.stats-card {
    padding: 16px;
    background-color: #CE1212;
    color: #FFFFFF;
    border-radius: 24px;
    width: 200px;
    font-size: 24px;
    font-family: Inter, serif;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.all-stats .dark-button {
    padding: 16px;
    color: #FFFFFF;
    border-radius: 24px;
    font-size: 24px;
    font-family: Inter, serif;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.stats-card div, .dark-button div {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.stats-card p, .dark-button p {
    margin: 0;
}

.stats-card img {
    margin-right: 8px;
}

.arrow-link {
    margin-left: auto;
}

.MuiDialog-paperWidthSm{
    padding: 64px;
    position: relative;
    min-width: 800px;
    box-sizing: border-box;
    border: 1px solid #010020;
    border-radius: 24px !important;
}

.characteristic-modal {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.characteristic-modal h3 {
    color: #CE1212;
    font-family: Inter, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.full-stat {
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: #010020;
    display: flex;
    justify-content: space-between;
}

.characteristic-modal .close-icon{
    border: none;
    background: none;
    position: absolute;
    right: 64px;
    top: 64px;
    cursor: pointer;
}

.close-modal {
    width: 100%;
    height: 48px;
    border-radius: 16px;
}

@media (max-width: 1430px) {
    .overview-block {
        margin-top: 160px;
    }
    .stats-card {
        width: 15%;
    }

    .all-stats .dark-button {
        width: 21%;
    }
}

@media (max-width: 1130px) {
    .all-stats .dark-button, .stats-card  {
        font-size: 18px;
    }
    .all-stats .dark-button {
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .overview-block {
        margin-top: 60px;
    }
    .all-stats {
        display: block;
    }
    .all-stats .dark-button, .stats-card {
        width: 100%;
        box-sizing: border-box;
    }
    .all-stats .dark-button {
        text-align: center;
        flex-direction: unset;
    }
    .stats-card {
        margin-bottom: 20px;
    }
    .stats-card div:not(:last-child) {
        margin-bottom: 20px;
    }
    .stats-card .bike-stat {
        margin-left: auto;
        font-size: 20px;
    }
    .all-stats .dark-button p {
        text-align: center;
    }
    .stats-card div, .dark-button div {
        margin-bottom: 0;
    }
    .MuiDialog-paperScrollPaper {
        min-width: 600px;
    }
}

@media (max-width: 850px) {
    .mySwiper {
        margin-top: 20px;
    }
    .overview-block {
        margin-top: 40px;
    }
    .swiper-slide-next img, .swiper-slide-prev img {
        border: none;
    }
    .swiper-slide-active img {
        border: 2px solid #CE1212;
        border-radius: 16px;
    }
    .active-bike-image {
        height: 300px;
        transform: translate(-49%, 0);
        left: 49%;
        position: relative;
        margin-top: 20px;
    }
    .next-photo, .prev-photo {
        top: 40%;
    }
    .overview-block .heading {
        text-align: left;
    }
    .stats-card .bike-stat {
        font-size: 16px;
    }
    .stats-card div, .dark-button p {
        font-size: 14px;
    }
    .stats-card div:not(:last-child) {
        margin-bottom: 16px;
    }
    .stats-card {
        border-radius: 16px;
    }
    .all-stats .dark-button {
        border-radius: 16px;
    }
    .MuiDialog-paperScrollPaper {
        min-width: 90%;
        padding: 20px;
    }
    .characteristic-modal {
        gap: 16px;
    }
    .full-stat {
        font-size: 14px;
        font-weight: 400;
    }
    .characteristic-modal h3 {
        font-size: 24px;
    }
}


