.plans-block {
    width: 100%;
    margin-top: 210px;
    text-align: center;
}

.additions-block {
    width: 100%;
    margin-top: 160px;
    text-align: center;
}

.rent-card {
    background: #F4F4F4;
    border-radius: 20px;
    margin-top: 24px;
    position: relative;
    padding: 48px 32px;
}

.rent-card hr {
    margin-top: 48px;
}

.rent-card-inner {
    display: flex;
    align-items: center;
}

.rent-card-inner .expand-answer {
    border: 1px solid #010020;
    min-width: 48px;
    height: 48px;
}

.addition-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding: 48px;
    background: #F4F4F4;
    justify-content: space-between;
}

.additions {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about-plan {
    color: #010020;
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}

.addition-card .rent-card-title {
    width: 100%;
}

.addition-card-header {
    display: flex;
    justify-content: space-between;
}

.rent-card-title {
    font-size: 40px;
    width: 300px;
    font-family: Inter, serif;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.about-plan .dark-button, .addition-card .dark-button, .expand-answer-text {
    min-width: 200px;
    max-width: 300px;
    width: fit-content;
    height: 48px;
    padding: 0 16px;
    border-radius: 24px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
}

.expand-answer-text {
    border: 1px solid #010020;
}

.addition-card .dark-button {
    align-self: flex-end;
}

.rent-card-desc {
    text-align: center;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    margin-top: 24px;
}

.price-card-block {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.rent-card-price {
    font-size: 40px;
    font-family: Inter, serif;
    font-weight: 500;
    text-align: right;
    margin-left: auto;
    text-wrap: nowrap;
}

.small-card-price {
    color: #010020;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    line-height: 33px;
}

.addition-card .rent-card-desc, .addition-card .rent-card-price {
    text-align: left;
    margin-left: 0;
}

.mobile-card-header {
    display: flex;
}

.addition-card-header .price-card-block {
    margin-left: unset;
}

@media (max-width: 1500px) {
    .addition-card-header {
        flex-direction: column;
    }
}

@media (max-width: 1430px) {
    .plans-block {
        margin-top: 140px;
    }
    .additions-block {
        margin-top: 140px;
    }
}

@media (max-width: 1130px) {
    .rent-card-title, .rent-card-price {
        font-size: 36px;
    }
    .additions-block {
        margin-top: 140px;
    }
    .rent-card, .addition-card {
        padding: 36px 48px;
    }
}

@media (max-width: 1024px) {
    .additions-block, .plans-block {
        margin-top: 60px;
    }
    .additions {
        margin-top: 36px;
    }
    .rent-card-inner {
        flex-direction: column;
        align-items: unset;
    }
    .about-plan {
        margin-top: 16px;
        align-items: unset;
        margin-left: unset;
        justify-content: space-between;
    }
    .about-plan .dark-button, .addition-card .dark-button, .expand-answer-text {
        width: 45%;
        max-width: 45%;
    }
    .rent-card hr {
        margin-top: 24px;
    }
}

@media (max-width: 850px) {
    .rent-card, .addition-card {
        border-radius: 20px;
        padding: 24px;
    }
    .rent-card {
        flex-direction: column;
        height: auto;
        gap: 16px;
    }
    .about-plan {
        gap: 16px;
        flex-direction: column;
    }
    .rent-card-title {
        font-weight: 500;
        font-size: 24px;
    }
    .rent-card-desc {
        text-align: left;
        font-size: 14px;
        margin-left: 0;
    }
    .rent-card-title, .about-plan {
        width: 100%;
    }
    .rent-card-price {
        text-align: left;
        font-size: 18px;
    }
    .about-plan .dark-button, .addition-card .dark-button, .expand-answer-text {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        height: 48px;
        border-radius: 48px;
    }
    .expand-answer-text {
        height: 30px;
    }
    .additions {
        display: block;
    }
    .addition-card {
        box-sizing: border-box;
    }
    .addition-card:not(:last-child) {
        margin-bottom: 16px;
    }
    .addition-card-header {
        flex-direction: unset;
    }
    .expand-answer-text {
        border: none;
        background: transparent;
    }
    .small-card-price {
        line-height: 21px;
        margin-left: 5px;
    }
    .rent-card hr {
        margin-top: 16px;
    }
}

