.plans-block {
    width: 100%;
    margin-top: 210px;
    text-align: center;
}

.additions-block {
    width: 100%;
    margin-top: 160px;
    text-align: center;
}

.rent-card {
    background-color: #FDE4E4;
    height: 200px;
    border-radius: 20px;
    margin-top: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 48px 80px;
}

.addition-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding: 48px 80px;
    border: 2px solid #CE1212;
}

.additions {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.white-circle1, .white-circle2 {
    position: absolute;
    top: 42%;
    background-color: #FFFFFF;
    width: 45px;
    height: 60px;
    border-radius: 50%;
}

.addition-card .white-circle1 {
    border-right: 2px solid #CE1212;
    left: -28px;
}

.addition-card .white-circle2 {
    border-left: 2px solid #CE1212;
    right: -28px;
}

.white-circle1 {
    left: -20px;
}

.white-circle2 {
    right: -20px;
}

.rent-card-title, .about-plan {
    width: 50%;
    color: #010020;
}

.addition-card .rent-card-title {
    width: 100%;
}

.rent-card-title {
    font-size: 64px;
    font-family: Inter, serif;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

.about-plan .dark-button, .addition-card .dark-button {
    min-width: 200px;
    max-width: 300px;
    width: fit-content;
    height: 60px;
    padding: 0 16px;
    border-radius: 24px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
    align-self: flex-end;
}

.addition-card .dark-button {
    align-self: flex-start;
}

.about-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent-card-desc {
    margin-left: 30px;
    text-align: right;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
}

.rent-card-price {
    font-size: 40px;
    font-family: Inter, serif;
    font-weight: 500;
    text-align: right;
}

.addition-card .rent-card-desc, .addition-card .rent-card-price {
    text-align: left;
    margin-left: 0;
}

