.sign-up-block {
    margin-top: 160px;
    display: flex;
    gap: 30px;
}

.sign-up-block .heading {
    width: 50%;
}

.sign-in-form-part {
    width: 50%;
}

.form-info-block {
    display: flex;
    gap: 48px;
    align-items: center;
    margin-bottom: 48px;
}

.MuiTextField-root.sign-in-form-input {
    margin-bottom: 16px;
}

.MuiTextField-root.sign-in-form-input .MuiInputBase-root {
    border-radius: 24px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
}

.submit-sign-up {
    border-radius: 24px;
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
}

.have-account {
    display: flex;
    gap: 24px;
    color: #010020;
    font-size: 18px;
    font-family: Inter, serif;
    font-weight: 500;
}

.have-account span {
    color: #CE1212;
    cursor: pointer;
}

label.Mui-focused {
    color: #010020;
}

.MuiInput-underline:after {
    border-bottom-color: #010020;
}

.MuiOutlinedInput-root fieldset {
    border-color: #010020;
}

.MuiOutlinedInput-root:hover fieldset {
    border-color: #010020;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #010020;
}

@media (max-width: 1024px) {
    .sign-up-block {
        margin-top: 60px;
        gap: 10px;
    }
}

@media (max-width: 850px) {
    .sign-up-block {
        flex-direction: column;
        gap: 36px;
    }
    .form-info-block {
        margin-bottom: 16px;
        gap: 16px;
    }
    .sign-in-form-part {
        width: 100%;
    }
    .MuiTextField-root.sign-in-form-input .MuiInputBase-root {
        font-size: 14px;
        font-weight: 400;
    }
    .submit-sign-up {
        height: 48px;
        border-radius: 16px;
    }
    .have-account {
        margin-top: 16px;
        justify-content: center;
    }
}